# ======================================================
# ESSENTIAL EXTERNAL TOOLS
# ======================================================

# Up-to-date package management tools
pip
setuptools
wheel

# Easy logging for monitoring code execution
loguru

# Environment variables management
python-dotenv

# YAML parsing (used for config.yaml and report outputs)
PyYAML

# HTTP client (REST + GraphQL)
requests
gql[aiohttp]
